**/__pycache__/
*.pyc

softmax/monte_carlo/logs/
softmax/monte_carlo/logs_dt/
softmax/monte_carlo/logs_fixed_tau/
softmax/monte_carlo/logs_lambda/
softmax/monte_carlo/logs_tau/

softmax/monte_carlo/tests/

softmax/code/classes/ep_sampler_am_backup.py

*.log
softmax/code/joint_coupling_test.txt
softmax/code/joint_coupling_test_smalldt_no_max_sites.txt
softmax/code/steepest_descent_test.txt
