customs/*
!customs/custom_esm/
customs/custom_esm/*
!customs/custom_esm/models/
!customs/custom_esm/models/**
!customs/custom_esm/pretrained.py


**/__pycache__/
*.pyc

softmax/monte_carlo/logs/
softmax/monte_carlo/logs_dt/
softmax/monte_carlo/logs_fixed_tau/
softmax/monte_carlo/logs_lambda/
softmax/monte_carlo/logs_tau/

softmax/monte_carlo/tests/

softmax/code/classes/ep_sampler_am_backup.py

*.log
