**/__pycache__/
*.pyc

softmax/monte_carlo/logs/
softmax/monte_carlo/logs_dt/
softmax/monte_carlo/logs_fixed_tau/
softmax/monte_carlo/logs_lambda/
softmax/monte_carlo/logs_tau/

softmax/monte_carlo/tests/

softmax/code/classes/ep_sampler_am_backup.py

*.log
softmax/code/joint_coupling_test.txt
softmax/code/joint_coupling_test_smalldt_no_max_sites.txt
softmax/code/steepest_descent_test.txt


softmax/code/proposal_test.txt
softmax/code/steepest_descent_M1.txt
softmax/code/compare_grad.txt

softmax/monte_carlo/tests_rate/sim0/eprot/
softmax/monte_carlo/tests_rate/sim1/eprot/


softmax/monte_carlo/old_sampling/

softmax/monte_carlo/tests_rate_sweep_dt/dt50/sim0/eprot/
softmax/monte_carlo/tests_rate_sweep_dt/dt150/sim0/eprot/
softmax/monte_carlo/tests_rate_sweep_dt/dt20/sim0/eprot/
softmax/monte_carlo/tests_rate_sweep_dt/dt100/sim0/eprot/
